<%- include('./partials/header') %>
<div class="landing-page" id="about">
  <h1 id="landing-text">Hi, I'm Curtis. I love coding and building full-stack applications.</h1>
  <a href="#projects" class="projects-link" id="projects">Checkout My Work</a>
  <img src="/images/arrow-down.svg" class="img-fluid" alt="alternatetext"></img>
</div>
<div class="container">
  <div class="flex flex-col w-full mb-20">
    <h1 class="text-center">Apps I've Built</h1>
    <p class="text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
      facilis repellat ab cupiditate alias vero aliquid obcaecati quisquam
      fuga dolore.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <a href="https://blooming-wildwood-28468.herokuapp.com/spots" key="/images/skatespotter.png">
            <img class="card-img" alt="app" src="/images/skatespotter.png"/>
            <div class="card-img-overlay project-opacity">
              <h6 class="card-subtitle">MERN Stack</h6>
              <h5 class="card-title">SkateSpotter</h5>
              <div class="card-text">An app for the skateboarding community that allows users to post the location and description of skate spots in their area.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <a href="https://digipetsforever.herokuapp.com/" key="/images/digipets.png">
            <img class="card-img" alt="app" src="/images/digipets.png"/>
            <div class="card-img-overlay project-opacity">
              <h6 class="card-subtitle">Python, Django, PostgreSQL</h6>
              <h5 class="card-title">Digipets</h5>
            <div class="card-text">The virtual pet app that gives users the joy of owning a pet without the obligations of real-life ownership.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <a href="https://tp-lab-data.herokuapp.com/" key="/images/dailylabdata.png">
            <img class="card-img" alt="app" src="/images/dailylabdata.png"/>
            <div class="card-img-overlay project-opacity">
              <h6 class="card-subtitle">MongoDB/Mongoose, Node.js, Express</h6>
              <h5 class="card-title">Daily Lab Data</h5>
              <div class="card-text">Allows water treatment technicians to store daily lab results on the cloud.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container px-5 py-10 mx-auto">
  <div class="text-center">
    <h1>Skills & Technologies</h1>
    <p class="mx-auto">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi sit
      ipsa delectus eum quo voluptas aspernatur accusantium distinctio
      possimus est.
    </p>
  </div>
  <div class="row" id="skills">
  <% skills.forEach(function (skill, idx) {%>
    <% if (idx < 3) {%>
    <div class="col-md-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <h6 class="card-text"><%=skill%></h3>
        </div>
      </div>
    </div>
    <%} else {%>
    <div class="col-md-5 mx-auto">
      <div class="card mx-auto">
        <div class="card-body">
          <h6 class="card-text"><%=skill%></h3>
        </div>
      </div>
    </div>
  <%}})%>
  </div>
</div>
<div>
  <h1 class="text-center mx-auto">Contact Me</h1>
  <p class="text-center">Whether you're looking to hire, or just looking for freelance work, feel free to reach out. You can email or call me at</p>
  <div class="text-center">
    <a href="mailto:curtis.w.mceachen@gmail.com" class="">curtis.w.mceachen@gmail.com</a>
    <button href="tel:+2269264042" class="btn">Call me at + 226 926-4042</button>
  </div>
</div>
<%- include('./partials/footer') %>
