<%- include('./partials/header') %>
<div class="landing-page" id="about">
  <h1 id="landing-text">Hi, I'm Curtis. I love coding and building full-stack applications.</h1>
  <a href="#projects" id="projects-link">Checkout My Work</a>
  <img src="/images/arrow-down.svg" class="img-fluid" alt="alternatetext"></img>
</div>
<div class="container">
  <h4 id="projects">Applications I've Built</h4>
  <div class="flex flex-col w-full mb-20">
    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-white">
      Apps I've Built
    </h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
    
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <a href="https://blooming-wildwood-28468.herokuapp.com/spots" key="/images/skatespotter.png">
            <img class="card-img" alt="app" src="/images/skatespotter.png"/>
            <div class="card-img-overlay project-opacity">
              <h6 class="card-subtitle">MERN Stack</h6>
              <h5 class="card-title">SkateSpotter</h5>
              <div class="card-text">An app for the skateboarding community that allows users to post the location and description of skate spots in their area.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <a href="https://digipetsforever.herokuapp.com/" key="/images/digipets.png">
            <img class="card-img" alt="app" src="/images/digipets.png"/>
            <div class="card-img-overlay project-opacity">
              <h6 class="card-subtitle">Python, Django, PostgreSQL</h6>
              <h5 class="card-title">Digipets</h5>
            <div class="card-text">The virtual pet app that gives users the joy of owning a pet without the obligations of real-life ownership.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <a href="https://tp-lab-data.herokuapp.com/" key="/images/dailylabdata.png">
            <img class="card-img" alt="app" src="/images/dailylabdata.png"/>
            <div class="card-img-overlay project-opacity">
              <h6 class="card-subtitle">MongoDB/Mongoose, Node.js, Express</h6>
              <h5 class="card-title">Daily Lab Data</h5>
              <div class="card-text">Allows water treatment technicians to store daily lab results on the cloud.</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
