body, html {
  height: 100vh;
  width: 100%;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.project-opacity {
  opacity: 0
}

.project-opacity:hover {
  opacity: 1;
  background-color: black;
}

.card {
  margin-top: 20px;
}

#about {
  background: url("https://cs.uiowa.edu/sites/cs.uiowa.edu/files/styles/ultrawide__1024_x_439/public/2021-03/laptop_work.jpg?h=f0d9a603&itok=vyBkXe5F") no-repeat 50% 50%;
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#landing-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.projects-link {
  position: absolute;
  bottom: 0;
  vertical-align: middle;
}